@import "../../../assets/defaults";

.todo {
  @include FlexBox(column);
  width: 700px;
  margin-inline: auto;
  margin-top: 5rem;

  #{&}-header {
    @include FlexBox(row);
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 1.4rem;
      font-weight: 400;

      span {
        font-size: 0.9rem;
        color: #eee;
        font-weight: 300;
      }
    }

    img {
      width: 45px;
      border-radius: 100%;
    }

  }

}

.todos {
  @include FlexBox(column);
  margin-top: 3rem;


  #{&}-lists {
    @include FlexBox(column);
    width: 80%;
    margin: auto;

    ul {
      height: 30px;
      @include FlexBox(row);
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      background: $color;
      margin-top: 2rem;

      li {
        font-weight: 300;
        list-style: none;
      }

    }
  }

  #{&}-add {
    @include FlexBox(row);
    justify-content: space-around;
    align-items: center;

    div {
      margin-top: 3px;
    }

    input {
      width: 90%;
      border: none;
      height: 30px;
      background: $background;
      border-bottom: #202020 solid 1px;
      color: #ffffff;
      padding: 30px;
      font-size: 1.3rem;
      transition: 300ms ease-in-out;

      &:focus {
        border: none;
        padding: 34px;
      }

    }
  }
}